.advantage-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  box-sizing: border-box;
  padding: 19px 26px;
  background-color: @bg-advantages;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 256px;
    min-height: 256px;
    padding-left: 33px;
    padding-right: 33px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    min-height: 256px;
    padding-bottom: 0;
    padding-left: 33px;
    padding-right: 33px;
  }
}

.advantage-container--special {
  padding: 30px 26px;
  color: @color-primary-white;
  background-color: @color-secondary-blue;

  @media (min-width: @tablet-width) {
    justify-content: stretch;
    padding-top: 54px;
  }

  @media (min-width: @desktop-width) {
    padding: 54px 75px 30px;
  }
}

.advantages__item:nth-child(even) .advantage-container {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}

@media (max-width: @mobile-width-only) {
  .advantages__item:not(:last-child) .advantage-container--regular::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 285px;
    height: 1px;
    background-color: #d6d6d6;
  }
}
