.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantage-container {
  padding: 24px 26px;
  background-color: @bg-advantages;
}

.advantage-container--special {
  color: @color-primary-white;
  background-color: @color-secondary-blue;
}
