.feedback-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 576px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }
}

.feedback-list--width {
  @media (min-width: @tablet-width) {
    width: 480px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    justify-content: space-around;
  }
}

.feedback-item {
  display: flex;
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    min-width: 224px;
  }

  @media (min-width: @desktop-width) {
    min-width: 170px;
  }
}

.feedback-item:last-child {
  margin-bottom: 0;
}


.feedback-list__label {
  position: relative;
  padding-left: 62px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}

.feedback-list__control-mark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: @bg-field;
}

.feedback-list__control-mark--checkbox {
  border-radius: 4px;
}

.feedback-list__radio[type="radio"]:checked + .feedback-list__control-mark--radio::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  border-radius: 50%;
}

.feedback-list__checkbox[type="checkbox"]:checked + .feedback-list__control-mark--checkbox::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  background-image: url("../../img/checkbox-tick.svg");
  background-repeat: no-repeat;
}

.feedback-list__checkbox {
  margin: 0;
}

.feedback-list__radio {
  margin: 0;
}

