.feedback-form {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 53px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 649px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}

.feedback-form__section {
  position: relative;
  margin: 0;
  margin-top: 52px;
  padding: 0;
  border: none;

  @media (min-width: @tablet-width) {
    width: 280px;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }

  &--contact {
    @media (max-width: @mobile-width-only) {
      margin-top: 48px;
    }
  }

  &--experience {
    margin-top: 43px;
    padding-bottom: 8px;

    @media (min-width: @tablet-width) {
      margin-top: 47px;
      border-top: 1px solid #dbdbdb;
    }

    @media (min-width: @desktop-width) {
      margin-top: 53px;
      margin-bottom: 35px;
    }
  }

  &--sightseeing {
    padding-bottom: 8px;
    margin-top: 50px;

    @media (min-width: @tablet-width) {
      padding-bottom: 2px;
      border-top: 1px solid #dbdbdb;
    }

    @media (min-width: @desktop-width) {
      margin-top: 39px;
      margin-bottom: 62px;
    }
  }

  &--emotion {
    display: flex;
    width: 100%;
    margin-top: 51px;
    margin-bottom: 56px;

    @media (min-width: @tablet-width) {
      margin-top: 15px;
      margin-bottom: 50px;
      border-top: 1px solid #dbdbdb;
    }

    @media (min-width: @desktop-width) {
      margin-top: 34px;
    }
  }
}

.feedback-form__left-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.feedback-form__right-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;

  @media (min-width: @tablet-width) {
    align-items: flex-end;
    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    align-items: flex-start;
    width: 100%;
  }
}

.feedback-form__fieldset-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -23px;
    left: -19px;
    display: block;
    width: 320px;
    height: 1px;
    background-color: #e6e6e6;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &--text {
    flex-direction: column;
    align-items: flex-end;

    @media (min-width: @desktop-width) {
      width: 402px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -26px;
      left: -19px;
      display: block;
      width: 320px;
      height: 1px;
      background-color: #e6e6e6;

      @media (min-width: @tablet-width) {
        top: 52px;
        left: 322px;
        height: 338px;
        width: 1px;
      }

      @media (min-width: @desktop-width) {
        left: 495px;
      }
    }
  }
}

.feedback-form__wrapper {
  width: 100%;
}

.feedback-form__legend {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 280px;
    margin-bottom: 29px;
  }

  &--experience {
    @media (min-width: @tablet-width) {
      margin-bottom: 38px;
      padding: 0 62px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 28px;
    }
  }

  &--sightseeing {
    @media (min-width: @tablet-width) {
      margin-bottom: 38px;
      padding: 0 60px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 70px;
      margin-top: 50px;
    }
  }

  &--emotion {
    @media (min-width: @tablet-width) {
      margin-bottom: 27px;
      padding: 0 60px;
    }
  }

  &--name {
    @media (min-width: @tablet-width) {
      padding-left: 21px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 48px;
    }
  }

  &--contact {
    @media (min-width: @tablet-width) {
      padding-right: 20px;
    }

    @media (min-width: @desktop-width) {
      padding-right: 62px;
    }
  }
}

.feedback-form__label {
  position: relative;
  display: block;
  margin-bottom: 2px;
  margin-left: 16px;

  @media (min-width: @tablet-width) {
    width: 267px;
  }

  @media (min-width: @desktop-width) {
    width: 430px;
  }

  &--phone {
    @media (min-width: @desktop-width) {
      width: 385px;
    }
  }

  &--email {
    @media (min-width: @desktop-width) {
      width: 385px;
    }
  }
}

.feedback-form__input {
  width: 247px;
  margin-bottom: 17px;
  padding: 16px;
  font-family: @font-main;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: @bg-field;
  border: none;

  @media (min-width: @desktop-width) {
    width: 400px;
  }

  &--phone {
    background-image: url("../../img/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: right;

    @media (min-width: @desktop-width) {
      width: 370px;
    }
  }

  &--email {
    background-image: url("../../img/email-icon.svg");
    background-repeat: no-repeat;
    background-position: right;

    @media (min-width: @desktop-width) {
      width: 370px;
    }
  }

  &:hover {
    background-color: @color-secondary-disabled;
  }

  &:focus {
    background-color: @color-primary-white;
    outline: none;
    box-shadow: inset 0 0 0 4px @color-secondary-disabled;
  }
}

.feedback-form__textarea-wrapper {
  display: flex;
}

.feedback-form__textarea {
  min-height: 118px;
  width: 246px;
  background-color: @bg-field;
  border: none;
  margin: 0 auto;
  padding: 16px;
  font-family: @font-main;
  font-size: 18px;
  line-height: 26px;
  resize: none;

  @media (min-width: @tablet-width) {
    width: 100%;
    min-height: 127px;
  }

  @media (min-width: @desktop-width) {
    width: 737px;
  }

  &:hover {
    background-color: @color-secondary-disabled;
  }

  &:focus {
    background-color: @color-primary-white;
    outline: none;
    box-shadow: inset 0 0 0 4px @color-secondary-disabled;
  }
}

.feedback-form__button {
  margin: 0 auto;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 768px;
  }
}
