.feedback-header {
  max-width: 280px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 54px;
  text-align: center;

  @media (min-width: @tablet-width) {
    max-width: 435px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    max-width: 435px;
    margin-bottom: 15px;
  }
}

.feedback-header__title {
  margin-bottom: 22px;
  font-size: 18px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
    font-size: 30px;
  }
}

.feedback-header__text {
  line-height: 21px;

  @media (min-width: @tablet-width) {
    line-height: 24px;
  }
}
