.page__body {
  margin: 0;
  background-color: #e7e5e5;
}

.page__body-container {
  width: 320px;
  margin: 0 auto;
  background-color: @color-primary-white;
  font-family: @font-main;
  font-size: 14px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    box-shadow: 0 0 5px 4px rgb(0 0 0 / 10%);
  }
}
