.post {
  width: 100%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 648px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.post__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
  }
}

.post__item {
  position: relative;
}

@media (max-width: @mobile-width-only) {
  .post__item::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -20px;
    display: block;
    width: 320px;
    height: 1px;
    background-color: @color-secondary-disabled;
  }

  .post__item:first-child::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    display: block;
    width: 320px;
    height: 1px;
    background-color: @color-secondary-disabled;
  }

  .post__item:last-child::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: -20px;
    display: block;
    width: 320px;
    height: 1px;
    background-color: @color-secondary-disabled;
  }
}

.post__item:nth-child(2n+3) .post__content > .post__details {
  @media (min-width: @tablet-width) {
    background-color: #eaeaea;
  }

  @media (min-width: @desktop-width) {
    background-color: fade(#000000, 30%);
  }
}

.post__item--landscape {
  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

//Content
.post__content {
  flex-basis: 50%;
  align-items: stretch;
  margin: 0;
  padding-top: 24px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    padding: 0;
  }
}

.post__content--landscape {
  flex-basis: 100%;
  padding-top: 35px;
}

.post__photo {
  display: block;
  width: 280px;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 324px;
    height: 267px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.post__photo--landscape {
  @media (min-width: @tablet-width) {
    width: 100%;
    height: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    height: 100%;
  }
}

.post__details {
  @media (min-width: @desktop-width) {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
  }
}

//Likes
.post__likes {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    color: @color-primary-white;
  }
}

.post__icon {
  fill: #000000;
  opacity: 30%;

  @media (min-width: @desktop-width) {
    fill: @color-primary-white;
    opacity: 100%;
  }
}

.post__likes-number {
  font-family: @font-main;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  padding-left: 11px;

  @media (min-width: @tablet-width) {
    padding-left: 5px;
  }
}
