.search-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 284px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 16px;
  text-align: center;

  @media (min-width: @tablet-width) {
    max-width: 435px;
    margin-top: 59px;
  }

  @media (min-width: @desktop-width) {
    max-width: 435px;
    margin-top: 60px;
  }
}

.search-hotel__title {
  margin-bottom: 20px;
  font-size: 21px;

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;
    font-size: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
  }
}

.search-hotel__details {
  margin: 0;
  line-height: 21px;
}

.search-hotel__button {
  width: 225px;
  margin: 32px 0;

  @media (min-width: @tablet-width) {
    width: 397px;
    margin: 40px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 45px 0;
  }
}
