.sub-advantages {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.sub-advantages__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
}

.sub-advantages__item {
  margin-top: 25px;
  padding-left: 47px;
  padding-right: 18px;
  min-height: 113px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 256px;
    min-height: 331px;
    margin: 0;
    padding: 0 33px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    min-height: 330px;
    margin: 0;
    padding: 0 50px;
  }
}


.sub-advantages__special-title {
  &--house {
    position: relative;
  }

  &--food {
    position: relative;
  }

  &--gift {
    position: relative;
  }
}

.sub-advantages__special-title--house::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  top: -50%;
  left: -45px;
  background-image: url("../../img/advantage-icon-house.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: @tablet-width) {
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 77px;
    height: 72px;
  }

  @media (min-width: @desktop-width) {
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 79.5px;
    height: 72.4px;
  }
}

.sub-advantages__special-title--food::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  top: -50%;
  left: -45px;
  background-image: url("../../img/advantage-icon-food.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: @tablet-width) {
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 77px;
    height: 72px;
  }

  @media (min-width: @desktop-width) {
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 79.5px;
    height: 72.4px;
  }
}

.sub-advantages__special-title--gift::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  top: -50%;
  left: -45px;
  background-image: url("../../img/advantage-icon-gift.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: @tablet-width) {
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 77px;
    height: 72px;
  }

  @media (min-width: @desktop-width) {
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 79.5px;
    height: 72.4px;
  }
}
