.sub-advantages {
  width: 100%;
  background-color: @color-primary-white;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.sub-advantages__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 0;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
}

.sub-advantages__item {
  margin-top: 33px;
  padding-left: 66px;
  padding-right: 18px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 256px;
    min-height: 331px;
    margin: 0;
    padding: 159px 33px 64px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    min-height: 330px;
    margin: 0;
    padding: 159px 50px 64px;
  }
}

.sub-advantages__special-details {
  line-height: 21px;
  margin-top: 15px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    margin-top: 20px;
  }
}


.sub-advantages__special-title {
  &--house {
    position: relative;
  }

  &--food {
    position: relative;
  }

  &--gift {
    position: relative;
  }
}

.sub-advantages__special-title--house::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  top: -8px;
  left: -47px;
  background-image: url("../../img/advantage-icon-house.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: @tablet-width) {
    top: -99px;
    left: 50%;
    transform: translateX(-50%);
    width: 77px;
    height: 72px;
  }

  @media (min-width: @desktop-width) {
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 79.5px;
    height: 72.4px;
  }
}

.sub-advantages__special-title--food::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 37px;
  top: -6px;
  left: -48px;
  background-image: url("../../img/advantage-icon-food.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: @tablet-width) {
    top: -95px;
    left: 50%;
    transform: translateX(-50%);
    width: 78px;
    height: 72px;
  }

  @media (min-width: @desktop-width) {
    top: -96px;
    left: 50%;
    transform: translateX(-50%);
    width: 79.5px;
    height: 72.4px;
  }
}

.sub-advantages__special-title--gift::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  top: -8px;
  left: -45px;
  background-image: url("../../img/advantage-icon-gift.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: @tablet-width) {
    top: -95px;
    left: 65px;
    width: 77px;
    height: 73px;
  }

  @media (min-width: @desktop-width) {
    top: -101px;
    left: 114px;
    width: 92.5px;
    height: 76.4px;
  }
}
