.welcome-banner {
  min-height: 389px;
  padding-top: 90px;
  background-image: url("../../img/header-triangle.svg"), url("../../img/header-bg.jpg");
  background-position: 50% bottom;
  background-size: auto, auto;
  background-repeat: no-repeat;
  background-color: @color-secondary-active;
  text-align: center;

  @media (min-width: @tablet-width) {
    @media (min-resolution: 2dppx) {
      background-image: url("../../img/header-triangle.svg"), url("../../img/header-bg@2x.jpg");
      background-repeat: no-repeat;
      background-size: auto, 1200px 518px;
    }
  }

  @media (min-width: @desktop-width) {
    @media (min-resolution: 2dppx) {
      background-image: url("../../img/header-bg@2x.jpg");
      background-size: cover;
    }
  }
}

.welcome-banner__image {
  width: 282px;

  @media (min-width: @tablet-width) {
    width: 461px;
  }

  @media (min-width: @desktop-width) {
    width: 460px;
  }
}
